# Column names and meanings

In [8]:
import pandas as pd

Does playing away from home actually affect a team's perfomance?
Does the table really never lie?
Does time of day affect anything?
Did appointing Arteta recover our season?

h_a - Home/Away
xG - Expected goals
xGA - Expected goals against
npxG - Expected non penalty goals
npxGA - Expected non penalty goals against

deep - Number of plays in opponent final third
deep_allowed - Number of plays in own final third (from opp)
scored - Goals scored
missed - Goals conceded

xpts - Expected points
result - Win/Lose/Draw
date - Date and time of kick off

wins - represented by binary, 1 = true, 0 = false 
draws 
loses
points - points earned from the game

npxGD - non penalty expected goal difference
teamId - TEAM NAME, SHOULD BE PRIMARY KEY

ppda_cal - Passes per defensive action, Measure of pressing play
allowed_ppda - Opposing team
matchtime - Hour the game took place
tot_points - Points accumalated so far
round - Matchday number
tot_goal - total goals team has scored so far
tot_con - goals conceded up to that point

Referee

HS.x - Shots for the home team
HST.x - Shots on target for the home team
HF.x - Fouls commited home team
HC.x - Corners won home team
HY.x - Yellow cards home team
HR.x - Red cards home team

AS.x - Shots for the away team
AST.x - Shots on target for the away team
AF.x - Fouls commited away team
AC.x - Corners won away team
AY.x - Yellow cards away team
AR.x - Red cards away team

B365H.x - Bet365 odds on home win
B355D.x - "" "" draw
B365A.x - "" "" away win

HtrgPerc - shots on target to total shots ratio home team
AtrgPerc - shots on target to total shots ratio away team

matchDay - Day of the week

In [6]:
teamname = epl.groupby(by="teamId")
teamname

NameError: name 'epl' is not defined

In [ ]:
epl.head(10)

In [143]:
round(epl["xG"][3])

1

In [129]:
row = epl.iloc[20]
row

Unnamed: 0                       21
h_a                               h
xG                           1.1644
xGA                         1.39172
npxG                         1.1644
npxGA                       1.39172
deep                              8
deep_allowed                      4
scored                            2
missed                            1
xpts                         1.1533
result                            w
date            2019-08-17 12:30:00
wins                              1
draws                             0
loses                             0
pts                               3
npxGD                      -0.22732
teamId                      Arsenal
ppda_cal                     5.3125
allowed_ppda              11.384615
matchtime                        12
tot_points                        6
round                             2
tot_goal                          3
tot_con                           1
Referee.x                    M Dean
HS.x                             16
HST.x                             9
HF.x                             13
HC.x                             10
HY.x                              2
HR.x                              0
AS.x                             18
AST.x                             5
AF.x                             11
AC.x                              7
AY.x                              1
AR.x                              0
B365H.x                         1.3
B365D.x                         5.5
B365A.x                        10.0
HtrgPerc                     0.5625
AtrgPerc                   0.277778
matchDay                        Sat
Name: 20, dtype: object

In [19]:
xG[[i for i in xG.columns if i.endswith("Id")]]

          teamId
0      Liverpool
1        Norwich
2       Man City
3       West Ham
4    Bournemouth
..           ...
571      Everton
572     Man City
573      Man Utd
574  Aston Villa
575    Leicester

[576 rows x 1 columns]

In [33]:
team.get_group("Arsenal")

      teamId        xG       xGA  tot_goal  tot_con
14   Arsenal  1.133090  0.380551         1        0
20   Arsenal  1.164400  1.391720         3        1
52   Arsenal  0.985542  2.788210         4        4
78   Arsenal  1.925090  1.955140         6        6
96   Arsenal  1.006160  2.832090         8        8
116  Arsenal  2.532090  1.715460        11       10
138  Arsenal  1.703990  1.133500        12       11
152  Arsenal  1.241090  0.683967        13       11
178  Arsenal  0.949735  0.895722        13       12
194  Arsenal  1.540140  1.778920        15       14
202  Arsenal  1.025520  1.510300        16       15
232  Arsenal  0.961339  1.370550        16       17
242  Arsenal  1.608230  2.603120        18       19
272  Arsenal  1.961570  0.810596        20       21
298  Arsenal  0.965377  1.534460        21       23
318  Arsenal  1.791810  0.521847        24       24
336  Arsenal  0.281610  1.695530        24       27
340  Arsenal  0.881818  0.486523        24       27
360  Arsenal  1.424640  1.554630        25       28
392  Arsenal  0.785214  1.496660        26       30
414  Arsenal  1.907470  0.715563        28       30
420  Arsenal  1.439240  0.317862        29       31
440  Arsenal  1.228820  1.184440        30       32
468  Arsenal  0.568077  3.386120        32       34
496  Arsenal  1.480250  2.245620        32       34
514  Arsenal  3.022570  1.166620        36       34
536  Arsenal  1.335670  2.656910        39       36
558  Arsenal  1.559740  1.616150        40       36

In [9]:
epl = pd.read_csv("epl2020.csv")
epl

,Unnamed: 0,h_a,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,...,AF.x,AC.x,AY.x,AR.x,B365H.x,B365D.x,B365A.x,HtrgPerc,AtrgPerc,matchDay
0,1,h,2.234560,0.842407,2.234560,0.842407,11,5,4,1,...,9,2,2,0,1.14,10.00,19.00,0.466667,0.416667,Fri
1,2,a,0.842407,2.234560,0.842407,2.234560,5,11,1,4,...,9,2,2,0,1.14,10.00,19.00,0.466667,0.416667,Fri
2,3,a,3.183770,1.200300,2.422640,1.200300,9,1,5,0,...,13,1,2,0,12.00,6.50,1.22,0.600000,0.642857,Sat
3,4,h,1.200300,3.183770,1.200300,2.422640,1,9,0,5,...,13,1,2,0,12.00,6.50,1.22,0.600000,0.642857,Sat
4,5,h,1.340990,1.598640,1.340990,1.598640,4,6,1,1,...,19,4,1,0,1.95,3.60,3.60,0.230769,0.375000,Sat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,572,a,0.445922,2.028830,0.445922,2.028830,3,9,0,4,...,10,1,2,0,1.80,3.90,4.20,0.647059,0.333333,Sun
572,573,a,0.585469,1.738900,0.585469,1.738900,2,3,0,2,...,9,11,4,0,5.00,4.33,1.60,0.500000,0.285714,Sun
573,574,h,1.738900,0.585469,1.738900,0.585469,3,2,2,0,...,9,11,4,0,5.00,4.33,1.60,0.500000,0.285714,Sun
574,575,a,0.672448,2.412390,0.672448,1.651220,2,8,0,4,...,12,0,1,0,1.36,5.25,8.00,0.466667,0.250000,Mon
575,576,h,2.412390,0.672448,1.651220,0.672448,8,2,4,0,...,12,0,1,0,1.36,5.25,8.00,0.466667,0.250000,Mon

In [170]:
xG = epl[["teamId", "xG", "xGA", "tot_goal", "tot_con", "xpts"]]
xG.head(10)
# # xG.iloc["Liverpool", ["teamId", "xG", "xGA"]]
# liv = xG[xG["teamId"]=="Liverpool"]
# if xG.iloc["xpts"][0] > 2:
#     xG["xpts"] = 3
# liv

TypeError: list indices must be integers or slices, not list

In [172]:
xptsr = []
for i in epl["xpts"]:
    if i < 0.75:
        i = 0
    elif i >= 0.75 and i <= 1.75:
        i = 1
    else:
        i = 3
    xptsr.append(i)
epl["xptsr"] = xptsr
epl

TypeError: list indices must be integers or slices, not str

In [86]:
# xg_table.diff = xg_table.xG - xg_table.xGA
# xg_table.diff
# xG_table.sort_values(by= xg_table.diff, ascending = False)
# filt = xG["teamId"] == "Arsenal"
# xG.loc[filt]

In [165]:
epl = ["xG", "xGA", "xptsr"]
team = xG.groupby(["teamId"])
xG_table = team[epl].sum()
pred_tab["xGd"] = pred_tab["xG"] - pred_tab["xGA"]
xG_table.sort_values(by="xptsr", ascending = False)
xG_table.sort_values(by="xGD", ascending = False)

KeyError: "Columns not found: 'xptsr'"

In [173]:
real=epl[["teamId", "scored", "missed","pts"]]
real_tab = ["scored", "missed", "pts"]
teamr= real.groupby(["teamId"])
real_tab = teamr[real_tab].sum()
real_tab["Goal difference"] = real_tab["scored"] - real_tab["missed"]
real_tab.sort_values(by="pts", ascending=False)
real_tab.sort_values(by="Goal difference", ascending=False)

TypeError: list indices must be integers or slices, not list

In [96]:
real_tab["Goal difference"] = real_tab["scored"] - real_tab["missed"]
real_tab

                  scored  missed  pts  Goal difference
teamId
Arsenal               40      36   40                4
Aston Villa           34      56   25              -22
Bournemouth           29      47   27              -18
Brighton              32      40   29               -8
Burnley               34      40   39               -6
Chelsea               51      39   48               12
Crystal Palace        26      32   39               -6
Everton               37      46   37               -9
Leicester             58      28   53               30
Liverpool             66      21   82               45
Man City              68      31   57               37
Man Utd               44      30   45               14
Newcastle United      25      41   35              -16
Norwich               25      52   21              -27
Sheffield United      30      25   43                5
Southampton           35      52   34              -17
Tottenham             47      40   41                7
Watford               27      44   27              -17
West Ham              35      50   27              -15
Wolves                41      34   43                7

In [175]:
epl

,Unnamed: 0,h_a,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,...,AF.x,AC.x,AY.x,AR.x,B365H.x,B365D.x,B365A.x,HtrgPerc,AtrgPerc,matchDay
0,1,h,2.234560,0.842407,2.234560,0.842407,11,5,4,1,...,9,2,2,0,1.14,10.00,19.00,0.466667,0.416667,Fri
1,2,a,0.842407,2.234560,0.842407,2.234560,5,11,1,4,...,9,2,2,0,1.14,10.00,19.00,0.466667,0.416667,Fri
2,3,a,3.183770,1.200300,2.422640,1.200300,9,1,5,0,...,13,1,2,0,12.00,6.50,1.22,0.600000,0.642857,Sat
3,4,h,1.200300,3.183770,1.200300,2.422640,1,9,0,5,...,13,1,2,0,12.00,6.50,1.22,0.600000,0.642857,Sat
4,5,h,1.340990,1.598640,1.340990,1.598640,4,6,1,1,...,19,4,1,0,1.95,3.60,3.60,0.230769,0.375000,Sat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571,572,a,0.445922,2.028830,0.445922,2.028830,3,9,0,4,...,10,1,2,0,1.80,3.90,4.20,0.647059,0.333333,Sun
572,573,a,0.585469,1.738900,0.585469,1.738900,2,3,0,2,...,9,11,4,0,5.00,4.33,1.60,0.500000,0.285714,Sun
573,574,h,1.738900,0.585469,1.738900,0.585469,3,2,2,0,...,9,11,4,0,5.00,4.33,1.60,0.500000,0.285714,Sun
574,575,a,0.672448,2.412390,0.672448,1.651220,2,8,0,4,...,12,0,1,0,1.36,5.25,8.00,0.466667,0.250000,Mon
575,576,h,2.412390,0.672448,1.651220,0.672448,8,2,4,0,...,12,0,1,0,1.36,5.25,8.00,0.466667,0.250000,Mon

In [22]:
team1 = epl.groupby(["teamId"])
team1
team2 = epl.groupby(["h_a"])
team2
measures = ["scored", "pts", "xG", "npxG", "wins", "HS.x", "deep","ppda_cal","AS.x", "HY.x", "HR.x", "AY.x", "AR.x" ]

In [29]:
table1 = team2[measures].sum()
table1["pxG"] = table1["xG"] - table1["npxG"]
table1

,scored,pts,xG,npxG,wins,HS.x,deep,ppda_cal,AS.x,HY.x,HR.x,AY.x,AR.x,pxG
h_a,,,,,,,,,,,,,,
a,350,333,384.998529,359.267989,87,3968,1736,3649.543253,3288,469,17,540,18,25.730540
h,434,459,456.012244,430.893745,129,3968,2079,3436.677644,3288,469,17,540,18,25.118499

In [24]:
table2 = team1[measures].sum()
table2

,scored,pts,xG,npxG,wins,HS.x,deep,ppda_cal,AS.x,HY.x,HR.x,AY.x,AR.x
teamId,,,,,,,,,,,,,
Arsenal,40,40,38.410292,36.888002,9,386,212,330.992601,346,63,1,59,2
Aston Villa,34,25,34.810489,32.374001,7,481,146,357.949724,371,57,4,53,3
Bournemouth,29,27,34.231331,33.470166,7,376,157,405.617340,371,47,4,64,1
Brighton,32,29,39.025318,38.264151,6,410,199,275.766253,325,40,2,49,1
Burnley,34,39,40.366882,38.844542,11,400,97,360.815599,307,39,0,54,1
Chelsea,51,48,56.091577,53.046902,14,412,262,272.622327,316,57,1,57,1
Crystal Palace,26,39,27.758932,25.475422,10,400,183,410.790208,284,61,1,53,5
Everton,37,37,46.579852,46.579852,10,386,167,296.287164,315,40,0,61,5
Leicester,58,53,47.772301,42.429071,16,373,232,277.945743,337,38,1,45,2
Liverpool,66,82,61.027651,57.221801,27,384,325,258.483590,342,21,1,40,0
Man City,68,57,73.078879,67.606062,18,404,390,239.287092,347,43,1,50,2
Man Utd,44,45,49.062932,41.451279,12,416,196,306.067741,313,59,1,65,0
Newcastle United,25,35,25.919034,25.157864,9,394,93,662.271153,346,44,2,51,2
Norwich,25,21,32.324183,30.801842,5,395,176,379.019921,385,41,1,57,2
Sheffield United,30,43,36.647202,35.886032,11,352,155,389.412258,252,38,1,50,0
Southampton,35,34,41.594446,39.916796,10,358,156,260.413400,367,39,6,53,0
Tottenham,47,41,39.593375,36.404712,11,433,183,380.267461,335,61,2,63,2
Watford,27,27,37.145790,33.339938,6,410,172,401.281930,295,57,2,55,2
West Ham,35,27,34.945743,32.662234,7,400,179,416.361567,292,43,0,42,1
Wolves,41,43,44.624564,42.341065,10,366,135,404.567825,330,50,3,59,4

In [25]:
team3 = epl.groupby(["teamId", "h_a"])
team3

In [27]:
table3 = team3[measures].sum()
table3["pxG"] = table3["xG"] - table3["npxG"]
table3

                      scored  pts         xG       npxG  wins  HS.x  deep  \
teamId           h_a
Arsenal          a        14   14  16.287261  15.526131     2   195    94
                 h        26   26  22.123031  21.361871     7   191   118
Aston Villa      a        16    8  16.854724  15.179405     2   294    61
                 h        18   17  17.955765  17.194596     5   187    85
Bournemouth      a        12   10  15.469261  14.708096     3   231    86
                 h        17   17  18.762070  18.762070     4   145    71
Brighton         a        15   11  18.886979  18.886979     2   217    75
                 h        17   18  20.138339  19.377172     4   193   124
Burnley          a        14   16  14.546319  13.785149     4   220    31
                 h        20   23  25.820563  25.059393     7   180    66
Chelsea          a        29   24  22.868320  22.107155     7   149   125
                 h        22   24  33.223257  30.939747     7   263   137
Crystal Palace   a        14   17  13.016108  11.493768     4   225    69
                 h        12   22  14.742824  13.981654     6   175   114
Everton          a        18   12  23.156173  23.156173     3   183    73
                 h        19   25  23.423679  23.423679     7   203    94
Leicester        a        28   23  25.474945  22.415215     7   166   113
                 h        30   30  22.297356  20.013856     9   207   119
Liverpool        a        26   37  25.813551  24.291211    12   130   151
                 h        40   45  35.214100  32.930590    15   254   174
Man City         a        35   28  38.376059  34.425542     9   125   181
                 h        33   29  34.702820  33.180520     9   279   209
Man Utd          a        15   16  20.990100  17.945421     4   170    92
                 h        29   29  28.072832  23.505858     8   246   104
Newcastle United a        13   14  12.428354  11.667184     4   222    48
                 h        12   21  13.490680  13.490680     5   172    45
Norwich          a         6    6  16.716279  15.955106     1   225    88
                 h        19   15  15.607904  14.846736     4   170    88
Sheffield United a        13   19  13.350469  13.350469     4   174    56
                 h        17   24  23.296733  22.535563     7   178    99
Southampton      a        19   20  21.408371  20.491891     6   172    85
                 h        16   14  20.186075  19.424905     4   186    71
Tottenham        a        20   15  19.108358  15.919695     3   246    83
                 h        27   26  20.485017  20.485017     8   187   100
Watford          a        11   10  13.342933  13.342933     2   210    68
                 h        16   17  23.802857  19.997005     4   200   104
West Ham         a        12   12  14.963552  13.441213     3   237    90
                 h        23   15  19.982191  19.221021     4   163    89
Wolves           a        20   21  21.940413  21.179253     5   177    67
                 h        21   22  22.684151  21.161812     5   189    68

                        ppda_cal  AS.x  HY.x  HR.x  AY.x  AR.x       pxG
teamId           h_a
Arsenal          a    174.849308   125    29     0    29     2  0.761130
                 h    156.143293   221    34     1    30     0  0.761160
Aston Villa      a    192.061936   159    33     4    29     1  1.675319
                 h    165.887788   212    24     0    24     2  0.761169
Bournemouth      a    186.075003   151    23     2    32     1  0.761165
                 h    219.542337   220    24     2    32     0  0.000000
Brighton         a    160.620070   183    21     1    25     1  0.000000
                 h    115.146183   142    19     1    24     0  0.761167
Burnley          a    176.726544   122    13     0    32     0  0.761170
                 h    184.089054   185    26     0    22     1  0.761170
Chelsea          a    133.516887   218    32     1    28     0  0.761165
                 h    139.105440    98    25     0    29     1  2.283510
Crystal Palace   a    211.015759   112    33     0    19     0  1.522340
                 h    199.774449   172    28     1    34     5  0.761170
Everton          a    157.023758   184    17     0    30     3  0.000000
                 h    139.263406   131    23     0    31     2  0.000000
Leicester        a    138.102818   195    25     1    18     1  3.059730
                 h    139.842925   142    13     0    27     1  2.283500
Liverpool        a    126.659140   198    11     0    16     0  1.522340
                 h    131.824451   144    10     1    24     0  2.283510
Man City         a    127.090375   262    22     0    30     2  3.950517
                 h    112.196717    85    21     1    20     0  1.522300
Man Utd          a    155.557538   182    35     1    32     0  3.044679
                 h    150.510203   131    24     0    33     0  4.566974
Newcastle United a    359.890571   124    18     1    26     2  0.761170
                 h    302.380583   222    26     1    25     0  0.000000
Norwich          a    179.647173   164    16     0    27     0  0.761173
                 h    199.372748   221    25     1    30     2  0.761168
Sheffield United a    201.645406   109    14     0    27     0  0.000000
                 h    187.766853   143    24     1    23     0  0.761170
Southampton      a    130.770941   185    22     3    25     0  0.916480
                 h    129.642459   182    17     3    28     0  0.761170
Tottenham        a    204.737687   166    34     0    36     1  3.188663
                 h    175.529775   169    27     2    27     1  0.000000
Watford          a    214.621726   130    27     0    30     1  0.000000
                 h    186.660204   165    30     2    25     1  3.805852
West Ham         a    213.085568   138    15     0    25     1  1.522339
                 h    203.275998   154    28     0    17     0  0.761170
Wolves           a    205.845045   181    29     3    24     2  0.761160
                 h    198.722780   149    21     0    35     2  1.522339

In [21]:
home = table3[[table3["h_a"] == ["h"]]]
home

KeyError: 'h_a'